{{template "layout.gohtml" .}}
{{define "title"}}Main page{{end}}
{{define "head"}}{{end}}
{{define "content"}}
  <div class="min-h-screen flex items-center justify-center bg-base-200">
    <h2>Index page</h2>
  </div>
{{end}}