# IDE
.idea/
.vscode/

# Build
/tmp/
/main

# Dependencies
/vendor/
/node_modules/

# Runtime data
/pb_data/
/pb_migrations/
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
*.env
gcp_builder/env.yaml
