{{template "layout.gohtml" .}}
{{define "title"}}Battle viewer{{end}}
{{define "head"}}{{end}}
{{define "content"}}
  <script type="module">
    // Ensure proper JSON parsing by using the template's raw output
    window.battleGameData = JSON.parse({{.Output}});
    window.battleMyTeam = {{.MyTeam}};
  </script>
  <script type="module" src="/dist/battle_viewer/index.js"></script>

  <div class="min-h-screen flex justify-center bg-base-200">
    <div id="battle"></div>
  </div>
{{end}}
